body {
	background-color: #232323;
	margin: 0;
	font-family:  "Avenier"; /*"Montserrat",*/
}

h1 {
	color:white;
	background-color: steelBlue;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
	font-weight: normal;
} 

button {
	border: none;
	background: none;
	height: 100%;
	font-weight: 700;
	letter-spacing: 1px;
	color: steelBlue;
	transition: all 0.3s;
}

button:hover {
	background-color: steelBlue;
	color: white;

}

.selected {
	background-color: steelBlue;
	color: white;
}

.container {
	max-width: 600px;
	margin: 0 auto;
}

.square {
	background-color: blue;
	width: 30%;
	margin: 1.66%;
	padding-bottom: 30%;
	float:left;
	transition: background 0.6s;
}

.square {
	border-radius: 15%;
}

.container {
	padding: 20px 0;
}

#stripe {
	background-color: white;
	text-align: center;
	height: 30px;
	font-weight: 700;
	letter-spacing: 1px;
	color: Black;
	
}

#rgbDisplay {
	font-size: 200%;
	font-weight: 700;
}

#message {
	display: inline-block;
	width: 20%;

}