<% include ../partials/header %>
<div class="container">
<h2 class="text-center m-4"><strong>Add comment to <%= campground.name %></strong></h2>
<form class="w-25 m-auto" action="/campgrounds/<%=campground._id%>/comments" method="POST">
    <div class="form-group">
        <input class="form-control " type="text" name="comment" placeholder="Comment">
    </div>
    <input class="btn btn-primary w-100" type="submit" value="Submit">
</form>
</div>
<% include ../partials/footer %>